 .u-section-1 {
  background-image: url("./images/839ca099-1e2b-1220-d705-f157a9c6f43b.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 698px;
}

.u-section-1 .u-text-1 {
  width: 525px;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-size: 4.5rem;
  margin: 62px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 83px;
  margin-bottom: 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 474px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-family: Allerta;
  margin: 0;
}

.u-section-1 .u-form-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-label-1 {
  font-family: Poppins;
  font-weight: 400;
}

.u-section-1 .u-input-1 {
  font-family: Poppins;
}

.u-section-1 .u-label-2 {
  font-family: Poppins;
  font-weight: 400;
}

.u-section-1 .u-input-2 {
  font-family: Poppins;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-family: Poppins;
  font-weight: 400;
}

.u-section-1 .u-input-3 {
  font-family: Poppins;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-family: Poppins;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: Poppins;
  margin: 20px auto 0;
  padding: 18px 46px 20px 45px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 525px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 11px 30px;
}

.u-section-1 .u-image-1 {
  width: 178px;
  height: 178px;
  background-image: url("./images/head.png");
  background-position: 50% 50%;
  margin: -86px auto 0;
}

.u-section-1 .u-text-3 {
  font-family: "PT Sans Caption";
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 49px 16px 0;
}

.u-section-1 .u-text-4 {
  line-height: 2.2;
  font-family: Poppins;
  margin: 16px 49px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 391px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 433px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-2 {
    padding: 13px 31px 13px 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 194px;
    height: 194px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1545px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 143px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 2;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 459px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}